{% extends 'base.html' %}


{% block title %}
    SpotrsInvestor - Главная
{% endblock title %}


{% block header %}
    Главная страница
{% endblock header %}


{% block content %}
    <div id="logo" class="jumbotron">
        <div class="container">
          <h1 class="display-3">Спорт-Инвестор!</h1>
          <p>ВАШ ГИД В МИРЕ ОНЛАЙН ИНВЕСТИЦИЙ!</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Подробнее &raquo;</a></p>
        </div>
    </div>
    <div  id="log"  class="jumbotron">
        <div class="row">
          <div class="col-md-4">
            <h2>Футбол</h2>
            <p>Смотрите рынки для инвестиций в футболе. Интересные закономерности, серии игр и многое другое.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Посмотреть &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Баскетбол</h2>
            <p>Рынки для инвестиций в баскетболе. Интересные закономерности, серии игр и многое другое.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Посмотреть &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Другие виды спорта</h2>
            <p>Рынки для инвестиций в других видах спорта. Интересные закономерности, серии игр и многое другое.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Посмотреть &raquo;</a></p>
          </div>
        </div>
    </div>
{% endblock content %}